<form action="/submit" method="post" class="form-wrapper" id="create-data">
  <div class="input">
    <label for="nama_menu">Nama</label>
    <input type="text" name="nama_menu" id="nama_menu" />
  </div>
  <div class="input">
    <label for="harga_personal">Harga Personal</label>
    <input type="number" name="harga_personal" id="harga_personal" />
  </div>
  <div class="input">
    <label for="harga_reguler">Harga Reguler</label>
    <input type="number" name="harga_reguler" id="harga_reguler" />
  </div>
  <div class="input">
    <label for="harga_large">Harga Large</label>
    <input type="number" name="harga_large" id="harga_large" />
  </div>
  <button type="submit">Add</button>
</form>
