body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  background-color: #eeeee4;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: #EE3A43 3px solid;
}

img {
  height: 10%;
  width: 10%;
}
.input {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}

.left-row{
  width: 20rem;
  padding-right: 2rem;
  padding-left: 1rem;
}
.button-container {
  display: flex;
  flex-direction: column;
  width: 8rem;
  margin-bottom: 1rem;
}

.button-container > button {
  margin-bottom: 1rem;
}

.form-wrapper {
  display: flex;
  justify-content: end;
  width: 10rem;
}

.table-wrapper{
  border: #EE3A43 solid 3px;
  width: 800px;
  text-align: start;
  outline: #ffffff;
  border-collapse: collapse;
  
}

.thead-container{
  height: 2.5rem;
}

th,td{
  padding: 5px 10px;
}

th{
  text-align: start;
  background-color: #EE3A43;
  color: #ffffff;
}
td{
  height: 3rem;
}

.navigation-container a {
  text-decoration: none;
  color: black;
}
button{
  cursor: pointer;
  border: 2px solid #EE3A43;
  outline: none;
  border-radius: 5px;
}

.btn-delete{
  background-color: #EE3A43;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  width: 5rem;
  height: 2rem;
  font-weight: 700;
}

.btn-add, .btn-back{
  background-color: #EE3A43;
  color: #ffffff;
  width: 10rem;
  height: 1.5rem;
  margin-top: 10px;
  margin-bottom: 2px;
}


